html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #1270fc;
    font-size: 32px;
    margin-bottom: 10px;
}

form {
    width: 300px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

.styled-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none; /* Para quitar la apariencia nativa del sistema operativo */
    -webkit-appearance: none; /* Para navegadores basados en WebKit, como Chrome y Safari */
    -moz-appearance: none; /* Para navegadores basados en Gecko, como Firefox */
    background: url('arrow-down.png') no-repeat right; /* Añade una flecha personalizada en el lado derecho del select */
}

/* Estilo para la etiqueta TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para la etiqueta TR (filas) */
tr {
    background-color: #f5f5f5;
}

/* Estilo para la etiqueta TH (celdas de encabezado) */
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo específico para las celdas de encabezado TH */
th {
    background-color: #333;
    color: #7b7474;
}

/* Estilo para la etiqueta TD (celdas de datos) */
td {
    background-color: #fff;
}

/* Estilo para la etiqueta TD en filas impares (opcional) */
tr:nth-child(odd) td {
    background-color: #f9f9f9;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #45a049;
}
